p {
    color: rgb(0, 0, 0);
}

h2 {
    color: rgb(163, 29, 29);
}

.warning {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-transform: uppercase;
}

.img-border {
    border-radius: 10px;
    border-width: 2px;
    border-color: azure;
}

.content {
    background-color: rgb(49, 154, 162);
    width: 900px;
    margin: 0 auto 0 auto;
    padding: 15px;
    border-radius: 10px;
}